@model ahydrax.Servitor.Models.UserLogin

<form class="form-signin" asp-action="Login" method="post" asp-antiforgery="true">
    <h1 class="h3 mb-3 font-weight-normal">Authentication</h1>
    <input type="text" asp-for="Login" class="form-control form-control-lg" placeholder="Username" required autofocus>
    <input type="password" asp-for="Password" class="form-control form-control-lg" placeholder="Password" required>

    @if (Model?.Reason != null)
    {
        <div class="checkbox mb-3">
            <p class="font-weight-normal text-danger">@Model.Reason</p>
        </div>
    }

    <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
</form>
