@model ahydrax.Servitor.Models.TextMessage

<div class="row">
    <div class="col-sm-12">
        <h2>Send message to group</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <form asp-action="PostMessage" method="post">
            <div class="input-group">
                <input type="text" name="Text" class="form-control" placeholder="Text" value="" required autofocus>
                <div class="input-group-append">
                    <button class="btn btn-primary btn-block" type="submit">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>
